In [19]:
import pandas as pd

In [20]:
train = pd.read_csv("data-files/train.csv")
test = pd.read_csv("data-files/test.csv")
submission = pd.read_csv("data-files/sample_submission.csv")

In [21]:
train.head()

,ID,설립연도,국가,분야,투자단계,직원 수,인수여부,상장여부,고객수(백만명),총 투자금(억원),연매출(억원),SNS 팔로워 수(백만명),기업가치(백억원),성공확률
0,TRAIN_0000,2009,CT005,이커머스,Series A,4126.0,No,No,56.0,3365.0,4764.0,4.71,NaN,0.3
1,TRAIN_0001,2023,CT006,핀테크,Seed,4167.0,Yes,No,80.0,4069.0,279.0,1.00,2500-3500,0.8
2,TRAIN_0002,2018,CT007,기술,Series A,3132.0,Yes,Yes,54.0,6453.0,12141.0,4.00,3500-4500,0.5
3,TRAIN_0003,2016,CT006,NaN,Seed,3245.0,Yes,Yes,NaN,665.0,10547.0,2.97,NaN,0.7
4,TRAIN_0004,2020,CT002,에듀테크,Seed,1969.0,No,Yes,94.0,829.0,9810.0,1.00,1500-2500,0.1

In [22]:
train.isnull().sum()

ID                   0
설립연도                 0
국가                   0
분야                 857
투자단계                 0
직원 수               174
인수여부                 0
상장여부                 0
고객수(백만명)          1320
총 투자금(억원)            0
연매출(억원)              0
SNS 팔로워 수(백만명)       0
기업가치(백억원)         1220
성공확률                 0
dtype: int64

In [23]:
except_cols = ["ID", "성공확률"]
X_train = train.drop(columns=except_cols)
X_test = test.drop(columns = "ID")
y_train = train["성공확률"]

In [24]:
cat_cols = ["인수여부", "상장여부", "국가", "투자단계"]

In [25]:
X_train = pd.get_dummies(X_train, columns=cat_cols)
X_test = pd.get_dummies(X_test, columns=cat_cols)

In [26]:
X_train.isnull().sum()

설립연도                 0
분야                 857
직원 수               174
고객수(백만명)          1320
총 투자금(억원)            0
연매출(억원)              0
SNS 팔로워 수(백만명)       0
기업가치(백억원)         1220
인수여부_No              0
인수여부_Yes             0
상장여부_No              0
상장여부_Yes             0
국가_CT001             0
국가_CT002             0
국가_CT003             0
국가_CT004             0
국가_CT005             0
국가_CT006             0
국가_CT007             0
국가_CT008             0
국가_CT009             0
국가_CT010             0
투자단계_IPO             0
투자단계_Seed            0
투자단계_Series A        0
투자단계_Series B        0
투자단계_Series C        0
dtype: int64

In [27]:
X_train['직원 수'] = X_train['직원 수'].fillna(X_train['직원 수'].mean())
X_train['고객수(백만명)'] = X_train['고객수(백만명)'].fillna(X_train['고객수(백만명)'].mean())
X_train['분야'] = X_train['분야'].fillna(0)
X_train['기업가치(백억원)'] = X_train['기업가치(백억원)'].fillna(0)

X_test['직원 수'] = X_test['직원 수'].fillna(X_test['직원 수'].mean())
X_test['고객수(백만명)'] = X_test['고객수(백만명)'].fillna(X_test['고객수(백만명)'].mean())
X_test['분야'] = X_test['분야'].fillna(0)
X_test['기업가치(백억원)'] = X_test['기업가치(백억원)'].fillna(0)

In [28]:
X_train['설립연도'] =train['설립연도'].astype('object')
X_test['설립연도'] =test['설립연도'].astype('object')

In [29]:
from sklearn.ensemble import RandomForestRegressor

In [30]:
cols = ["기업가치(백억원)", "분야"]
X_train = pd.get_dummies(X_train, columns=cols)
X_test = pd.get_dummies(X_test, columns=cols)

In [35]:
X_train

,설립연도,직원 수,고객수(백만명),총 투자금(억원),연매출(억원),SNS 팔로워 수(백만명),인수여부_No,인수여부_Yes,상장여부_No,상장여부_Yes,...,분야_AI,분야_게임,분야_기술,분야_물류,분야_에너지,분야_에듀테크,분야_이커머스,분야_푸드테크,분야_핀테크,분야_헬스케어
0,2009,4126.0,56.000000,3365.0,4764.0,4.71,True,False,True,False,...,False,False,False,False,False,False,True,False,False,False
1,2023,4167.0,80.000000,4069.0,279.0,1.00,False,True,True,False,...,False,False,False,False,False,False,False,False,True,False
2,2018,3132.0,54.000000,6453.0,12141.0,4.00,False,True,False,True,...,False,False,True,False,False,False,False,False,False,False
3,2016,3245.0,49.214332,665.0,10547.0,2.97,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False
4,2020,1969.0,94.000000,829.0,9810.0,1.00,True,False,False,True,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4371,2021,4841.0,90.000000,4187.0,9394.0,4.00,False,True,True,False,...,False,False,False,False,False,False,False,True,False,False
4372,2020,555.0,37.000000,796.0,2969.0,3.00,True,False,False,True,...,False,False,False,False,True,False,False,False,False,False
4373,2023,506.0,49.214332,3314.0,4512.0,1.47,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4374,2001,1438.0,53.000000,2395.0,3755.0,5.00,True,False,True,False,...,True,False,False,False,False,False,False,False,False,False
4375,2017,3499.0,41.000000,903.0,9417.0,5.00,True,False,False,True,...,False,False,False,False,False,True,False,False,False,False

In [31]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [32]:
submission = pd.DataFrame({
    'ID': test['ID'],             # test 데이터에 있는 ID 컬럼
    '성공확률': y_pred
})

submission['성공확률'] = submission['성공확률'].round(3)

In [ ]:
submission.to_csv("data-files/submission_RandomForest3.csv",index=False)

In [36]:
submission

             ID   성공확률
0     TEST_0000  0.496
1     TEST_0001  0.474
2     TEST_0002  0.525
3     TEST_0003  0.561
4     TEST_0004  0.617
...         ...    ...
1750  TEST_1750  0.511
1751  TEST_1751  0.601
1752  TEST_1752  0.610
1753  TEST_1753  0.527
1754  TEST_1754  0.465

[1755 rows x 2 columns]